{% extends 'base.html' %}
{% load static %}

{% block navbar %}
<a href="{% url 'home-page' %}" class="nav-item nav-link ">Home</a>
<a href="{% url 'about-page' %}" class="nav-item nav-link ">About</a>
<a href="{% url 'service-page' %}" class="nav-item nav-link ">Service</a>
<a href="{% url 'blog-page' %}" class="nav-item nav-link active ">Blog</a>
<div class="nav-item dropdown">
<a href="#" class="nav-link" data-bs-toggle="dropdown">
    <span class="dropdown-toggle">Pages</span>
</a>
<div class="dropdown-menu">
    <a href="{% url 'project-page' %}" class="dropdown-item">Our projects</a>
    <a href="{% url 'team-page' %}" class="dropdown-item">Our team</a>
    <a href="{% url 'testimonial-page' %}" class="dropdown-item">Testimonial</a>
    <a href="404.html" class="dropdown-item">404 Page</a>
</div>
</div>
<a href="{% url 'contact-page' %}" class="nav-item nav-link">Contact</a>
<div class="nav-btn ps-3">
<button class="btn-search btn btn-primary btn-md-square mt-2 mt-lg-0 mb-4 mb-lg-0 flex-shrink-0" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search"></i></button>
<a href="#" class="btn btn-primary py-2 px-4 ms-0 ms-lg-3"> Get Solution</a>
</div>
{% endblock navbar %}

{% block content %}

        <!-- Blog Start -->
        <div class="container-fluid blog py-5">
            <div class="container py-5">
                <div class="d-flex flex-column mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Our Blog</h4>
                    <h1 class="display-4 mb-4">Electricity News & Updates</h1>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, deserunt provident ab voluptates rerum eaque eum magni autem atque in minus laboriosam corrupti deleniti voluptatibus rem reiciendis modi veniam animi?
                    </p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/commercial-1.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="blog-heading ms-4">
                                <a href="#" class="h4 mb-0 p-4">Electrifying Reads Explore Our Electricity</a>
                            </div>
                            <div class="blog-content bg-light p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 small"><i class="fa fa-calendar me-2"></i> April 2,2025</p>
                                    <p class="mb-0 small"><i class="fa fa-tag me-2"></i> Electricity Corner</p>
                                </div>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis rem distinctio tempora eum quam eligendi. Repudiandae voluptas voluptatibus quo itaque!
                                </p>
                                <a class="btn btn-primary py-2 px-4" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/commercial-2.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="blog-heading ms-4">
                                <a href="#" class="h4 mb-0 p-4">Empowering Energy Dive into Our Electricity </a>
                            </div>
                            <div class="blog-content bg-light p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 small"><i class="fa fa-calendar me-2"></i> April 2,2025</p>
                                    <p class="mb-0 small"><i class="fa fa-tag me-2"></i> Electricity Corner</p>
                                </div>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis rem distinctio tempora eum quam eligendi. Repudiandae voluptas voluptatibus quo itaque!
                                </p>
                                <a class="btn btn-primary py-2 px-4" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/commercial-3.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="blog-heading ms-4">
                                <a href="#" class="h4 mb-0 p-4">Electricity Explained: Bloggin Power of Tomorrow</a>
                            </div>
                            <div class="blog-content bg-light p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 small"><i class="fa fa-calendar me-2"></i> April 2,2025</p>
                                    <p class="mb-0 small"><i class="fa fa-tag me-2"></i> Electricity Corner</p>
                                </div>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis rem distinctio tempora eum quam eligendi. Repudiandae voluptas voluptatibus quo itaque!
                                </p>
                                <a class="btn btn-primary py-2 px-4" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- Blog End -->

{% endblock content %}