{% extends 'base.html' %}
{% load static %}


{% block navbar %}
<a href="{% url 'home-page' %}" class="nav-item nav-link ">Home</a>
<a href="{% url 'about-page' %}" class="nav-item nav-link">About</a>
<a href="{% url 'service-page' %}" class="nav-item nav-link">Service</a>
<a href="{% url 'blog-page' %}" class="nav-item nav-link">Blog</a>
<a href="{% url 'project-page' %}" class="nav-item nav-link">Projects</a>
<a href="{% url 'team-page' %}" class="nav-item nav-link active">Team</a>
<a href="{% url 'testimonial-page' %}" class="nav-item nav-link">Testimonial</a>
<a href="{% url 'contact-page' %}" class="nav-item nav-link">Contact</a>

<div class="nav-btn ps-3">
    <button class="btn-search btn btn-primary btn-md-square mt-2 mt-lg-0 mb-4 mb-lg-0 flex-shrink-0" data-bs-toggle="modal" data-bs-target="#searchModal">
        <i class="fas fa-search"></i>
    </button>
    <a href="#" class="btn btn-primary py-2 px-4 ms-0 ms-lg-3">Get Solution</a>
</div>
{% endblock navbar %}

{% block content %}

        <!-- Team Start -->
        <div class="container-fluid team py-5">
            <div class="container py-5">
                <div class="d-flex flex-column mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Our Team</h4>
                    <h1 class="display-4 mb-4">Electricity Service offerings</h1>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, deserunt provident ab voluptates rerum eaque eum magni autem atque in minus laboriosam corrupti deleniti voluptatibus rem reiciendis modi veniam animi?
                    </p>
                </div>
                <div class="row g-4">
                    {% for team in teams %}
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{{team.image.url}}" class="img-fluid w-100" alt="">
                                <div class="team-icon">
                                    <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-square btn-primary mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="team-content bg-light text-center p-4">
                                <h4>{{team.full_name}}Shoaib Bashir</h4>
                                <p class="mb-0">Profession{{team.jobs}}</p>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
         </div>
        <!-- Team End -->

{% endblock content %}